@model IEnumerable<DAL.Users>
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link href="~/Styles/MyProfile.css" rel="stylesheet" />

<center class="Comments" >
    @if (Model.Count() == 0)
    {
 
        <img width="200" height="200" src="~/Images/result.png" id="ResultImage"  />
        <p id="NoResult" >Sorry we couldn't find any matches </p>
        <br />
        <ul>
            <li>Make sure the spelling is correct.</li>
            <li>Use less keywords.</li>
        </ul>
    }
    else
    {


        <ul id="CommentsList">
            <li style="margin:10px;">@Model.Count() Resulting Items</li>
            @foreach (var i in Model)
            {

                <li id="ResultItem" onclick="GoToProfile('@i.ID')">
                    <div style="display:inline-flex">
                        <div><img width="55" height="55" style="border:1px solid #fff;border-radius:100%" src="@Url.Content(i.ProfileImage)" /></div>
                        <div>
                            <p style="font-size:25px"> &nbsp;&nbsp; @i.Name</p>
                            <p id="Date" style="margin-top:-20px;font-size:15px">&nbsp;&nbsp; &nbsp;&nbsp; @i.Major @i.Job</p>
                        </div>
                    </div>
                   

                </li>
            }
        </ul>
    }
</center>
<script>
    //var urlParams = new URLSearchParams(window.location.search);
    //if (window.location.search.includes('name')) {

    //    document.getElementById("NoResult").innerHTML = "Sorry we couldn't find any matches for " + urlParams.get('name');
    //}
    function GoToProfile(id)
    {
       
            window.location.href = '/User/User?id=' + id;
        
    }



</script>
<style>
    #ResultImage {
        margin-left: 30%;
        margin-top: 50px
    }
    #NoResult {
        font-size: 22px;
        margin-left: 20%
    }
    #ResultItem {
        background-color: inherit;
        border-bottom: 1px solid white;
        padding: 10px;cursor:pointer;
    }
    #ResultItem:hover{
       opacity:0.7;
    }
    @@media screen and (max-width:430px) {
        #ResultImage{
            margin-left:15% !important;
        }
        #NoResult {
            margin-left: 1% !important;
            font-size: 20px !important;
        }
    }
</style>